/*
    green: #48AC98
    background: #f0f5f9
    dark: #1E2022
    white: #f0f5f9
*/

/*************************** Bio ***************************/

#Summary{
    text-align: left;
    padding: 6% 10%;
    background-color: #ffffff;
    /* margin: 30px auto; */
    /* width: 90%; */
}

.portrait {
    margin: 20px;
    max-width: 70%;
    height: auto;
}

.column-left{
    float: left;
    width: 30%;
}
.column-center{
    display: inline-block;
    width: 10%;
}
.column-right{
    float: right;
    display: flex;
    align-items: center;
    width: 50%;
}
